@import "../../scss/assets/vars";

%btn {
  text-transform: uppercase;
  color: $clr-white;
  border: none;
  cursor: pointer;
}

%btn-oval {
  @extend %btn;
  padding: 1.2rem 2.3rem;
  border-radius: 2rem;
  border: 2px solid $clr-orange;
  font-size: $fs-medium;
  width: 100%;
  box-shadow: 0px 0px 31px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 31px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 31px -6px rgba(0, 0, 0, 0.75);
}

.btn-orange {
  @extend %btn-oval;
  background-color: $clr-orange;
}

.btn-white {
  @extend %btn-oval;
  background-color: $clr-white;
  color: $clr-orange;
}
