@import "../../scss/assets/vars";

%btn {
  text-transform: uppercase;
  color: $clr-white;
  border: none;
  cursor: pointer;
}

%btn-oval {
  @extend %btn;
  padding: 1.2rem 2.3rem;
  border-radius: 2rem;
  border: 2px solid $clr-orange;
  font-size: $fs-medium;
  width: 100%;
  box-shadow: 0px 0px 31px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 31px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 31px -6px rgba(0, 0, 0, 0.75);
}

.btn-orange {
  @extend %btn-oval;
  background-color: $clr-orange;
}

.btn-white {
  @extend %btn-oval;
  background-color: $clr-white;
  color: $clr-orange;
}

.btn-blue {
  @extend %btn;
  @extend %btn-oval;
  padding: .5rem;
  background-color: $clr-blue;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  max-width: 600px;
  text-transform: capitalize;
}

.btn-green {
  @extend %btn;
  background-color: rgb(53, 199, 53);
  padding: .5rem 1rem;
  border-radius: 4px;
  max-width: 100%;
}
