@import "../../scss/assets/vars";

.header {
  position: relative;
  z-index: 100;

  .burger {
    display: none;
  }

  &.dark {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 18%,
      rgba(38, 38, 38, 1) 26%
    );
    box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.75);

    hr {
      opacity: 0;
    }

    .header-upper-login {

      a:first-of-type {
        color: $clr-orange;
      }
    }

    .cart {
      border: 1px solid $clr-orange;
    }

    .header-upper-contact svg {
      color: $clr-orange;
    }
  }

  &-wrapper {
    position: relative;
  }

  &-upper {
    justify-content: space-between !important;
    font-size: $fs-small;

    &-contact {
      gap: 1rem;

      svg {
        color: rgb(115, 165, 115);
      }
    }

    &-login {
      position: relative;
      text-transform: uppercase;
      gap: 2rem;
      font-family: $ff-bold;

      hr {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        border: 1px solid $clr-whiteFaded;
      }

      a:last-of-type {
        color: $clr-whiteFaded;
      }
    }

    .upper-item {
      gap: 1rem;
    }
  }

  &-main {
    margin-top: 2rem;
    justify-content: space-between !important;

    h1 {
      font-family: $ff-bold;
      font-size: $fs-big;
    }

    &-menu {
      a {
        margin-right: 1rem;
        font-size: $fs-medium;
        text-transform: uppercase;

        &:hover {
          color: $clr-whiteFaded;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .cart {
      margin-left: 1.5rem;
      border: 1px solid;
      padding: 0.5rem 2rem;
      border-radius: 4rem;
      gap: 0.5rem;
    }
  }

  .header-bottom-line {
    margin-top: 1.5rem;
    border: 1px solid $clr-whiteFaded;
  }
}

@media (max-width: 768px) {
  .header {

    .burger {
      position: relative;
      display: block;
      font-size: calc($fs-medium + 1rem);

      &-btn {
        transition: 450ms;
        svg {
          transition: 450ms;
        }
      }
    
      &-menu {
        position: absolute;
        right: 0;
        top: calc(100% + 3.5rem);
        z-index: 100;
        padding: 2rem;
        align-items: flex-start;
        gap: 1rem;
        font-size: $fs-medium;
        text-transform: capitalize;
        background-color: rgba(38, 38, 38, 1);
        opacity: 0;
        pointer-events: none;
        transition: 450ms;

        &.active {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
    
    .nav-container {
      display: none;
    }
  }
}

@media (max-width: 425px) {
  .header {

    &.dark {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 38%,
        rgba(38, 38, 38, 1) 26%
      );
    }

    &-upper {
      flex-wrap: wrap;
      justify-content: flex-start !important;
      gap: 1rem;
    }
  }
}