@import '../../scss/assets/vars';

.search {
  margin: 0 0 4rem;

  .tickets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 1200px;
    height: 600px;
    max-width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .search {

    .tickets {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .search {

    .tickets {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 250px);
    }
  }
}