.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

// flex-classes
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  @extend %flex;
}

.flex-col {
  @extend %flex;
  flex-direction: column;
}