$ff-regular: 'roboto', sans-serif;
$ff-bold: 'roboto-bold', sans-serif;

$clr-white: #ffffff;
$clr-whiteFaded: #ffffff93;
$clr-lightGrey: #ccc;
$clr-black: #000000;
$clr-blackFaded: #00000093;
$clr-orange: rgb(255, 102, 0);

$fs-small: .725rem;
$fs-medium: 1.125rem;
$fs-big: 3rem;